.submenu {
  position: relative;
  width: 200px;
}

.submenu ul {
  width: 100%;
  padding: 0;
  list-style: none;
  font-size: 16px;
  font-weight: 200;
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  border: 1px solid #2c5362;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.submenu li {
  width: 85%;
  padding: 10px 0;
}

.submenu li:hover {
  background-color: #4698a4;
  margin-top: -1px;
  width: 100%;
  border: 1px solid #2c5362;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  color: white;
}

.submenu li:not(:last-child) {
  border-bottom: 1px solid #2c5362;
}
